{% load static %}

{% block content %}
    <div class="bg-light p-2 border-bottom border-top overflow-auto d-none d-lg-block ">
        <div class="container">
          <div class="row row-cols-2 row-cols-lg-3 text-center">
    
            <div class="col-4 col-lg-2 border active-col text-white p-2"><i class="ps-2 bi bi-activity">DASHBOARD</i></div>
            <div class="col-4 col-lg-2 border p-2"><a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="  ps-2 bi bi-person"></i> ACCOUNTS
                          </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
              </ul>
            </div>
            <div class="col-4 col-lg-2 border p-2"><a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown"
                role="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                class=" ps-2 bi bi-shuffle"></i> TRANSACTION
                              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
              </ul>
            </div>
            <div class="col-4 col-lg-2 border p-2"><a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class=" ps-2 bi bi-gear"></i> REPORTS
                              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
              </ul>
            </div>
            <div class="col-4 col-lg-2 border p-2"><a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown"
                role="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                class=" ps-2 bi bi-file-earmark-text"></i> INVOICES
                              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
              </ul>
            </div>
            <div class="col-4 col-lg-2 border p-2"><a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class=" ps-2 bi bi-shuffle"></i> RECONCILIATION
                              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
