{% load static %}


<!-- {WHY} section started-->
<div class="container bg-white py-5">
    <div class="row">
        <div class="col-6 part1">
            <p id="head-1">
                <span class="text-primary temp1">why</span>
            </p>


        </div>
        <div class="col-6 part2 ">
            <div class="row row-col-2 ">
                <div class="col-6">
                    <div class="card bg-primary text-white shadow p-2 mb-2 rounded">
                        <img class=" watch w-25 mt-2 mx-auto" src="{% static 'images/icons8-wristwatch-96.png'%}"
                            alt="Card image watch">
                        <div class="card-body">
                            <h5 class="card-title">INSTANT CREDIBILITY:</h5>
                            <p class="card-text">Imagine shopping for a buyer and already know that 123 Smith St has EV
                                parking or that 456 Smith St has an updated depreciation report.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="card shadow p-2 mb-2 rounded">
                        <img class="card-img-top w-25 mt-2 mx-auto" src="{% static 'images/money.png'%}"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">INSTANT CREDIBILITY:</h5>
                            <p class="card-text">Imagine shopping for a buyer and already know that 123 Smith St has EV
                                parking or that 456 Smith St has an updated depreciation report.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-col-2 mt-4">
                <div class="col-6">
                    <div class="card shadow p-2 mb-2 rounded">
                        <img class="card-img-top w-25 mt-2 mx-auto
                        " src="{% static 'images/sale.png' %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">INSTANT CREDIBILITY:</h5>
                            <p class="card-text">Imagine shopping for a buyer and already know that 123 Smith St has EV
                                parking or that 456 Smith St has an updated depreciation report.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card bg-primary text-white shadow p-2 mb-2">
                        <img class="card-img-top w-25 mt-2 mx-auto" src="{% static 'images/hand.png'%}"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">INSTANT CREDIBILITY:</h5>
                            <p class="card-text">Imagine shopping for a buyer and already know that 123 Smith St has EV
                                parking or that 456 Smith St has an updated depreciation report.</p>
                        </div>
                    </div>
                </div>
            </div>




        </div>

    </div>
</div>
<!-- {WHY} section finished-->



<!-- {HOW} section started-->
<div class="container-fluid bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="row text-white text-center">
                   <p class="custom-heading">How It Works</p> 
                    <!-- <span>
                        <img class="card-img-top w-25 mt-2 mx-auto" src="{% static 'images/line1.png' %}"
                            alt="Card image cap">
                        <img class="card-img-top w-25 mt-2 mx-auto" src="{% static 'images/line2.png' %}"
                            alt="Card image cap">
                    </span> -->
                </div>
                <div class="row text-white">
                    Think of us like a community library book stand (leave a book, take a book) - just online and
                    servicing a larger community. So, along with having access to your own strata document packages,
                    you'll now have access to 1000's more. Awesome right?! The process is super simple.
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col text-white">
                                <div class="row">
                                    <div class="col-sm-2 col-xs-2 col-md-3 col-lg-3 ">
                                    <h2 class="custom-icon font-weight-bold">1<h2> 
                                    </div>
                                    <div class="col custom-text mt-2">
                                        SIGN UP
                                        Register. Note that this service is exclusive to active REALTORS only.
                                    </div>
                                </div>



                            </div>
                            <div class="col text-white">
                                <div class="row">
                                    <div class="col">
                                        2
                                    </div>
                                    <div class="col">
                                        UPLOAD
                                        Once signed in, upload your strata documents. Our system will categorize and
                                        sort them.
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-white">
                                <div class="row">
                                    <div class="col">
                                        3
                                    </div>
                                    <div class="col">
                                        DOWNLOAD
                                        Need to know pet restrictions for LMS 124? No problem.
                                    </div>
                                </div>

                            </div>
                            <div class="col text-white">
                                <div class="row">
                                    <div class="col">
                                        4
                                    </div>
                                    <div class="col">
                                        SMILE
                                        The more we share the more informed we are as a community.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <p id="head-2">
                    <span class="text-white temp2">How</span>
                </p>

            </div>

        </div>




    </div>
</div>
<!-- {HOW} section finished-->