<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Adding bootstrap -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/custom.css">

    <!-- Adding icons -->
    <link href="../static/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">
    <link href="../static/fontawesome-free-5.15.4-web/css/all.min.css" rel="stylesheet">

    <title>agon</title>

</head>

<body>
    
    <nav class="navbar navbar-expand-lg navbar-light">

        <div class="container">

        <a class="navbar-brand fw-bold fs-2 " href="#">agon</a>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle   text-dark" href="#" id="navbarDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Home
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle   text-dark" href="#" id="navbarDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        About
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle   text-dark" href="#" id="navbarDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Company
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle   text-dark" href="#" id="navbarDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Pages
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle   text-dark" href="#" id="navbarDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Blog
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle   text-dark" href="#" id="navbarDropdownMenuLink"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Shop
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                <li class="nav-item dropdown">

                    <span class=""><button type="button"
                        class="btn btn-secondary rounded-pill fs-5 text-dark bg-white border-1 p-2">Secondary 
                        <svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg></button>
                </span>
                </li>
                
        </ul>

        </div>
        </div>

    </nav>



    <div class="row justify-content-md-center form-check form-switch">
      <div class="col col-lg-2">
        <label class="form-check-label text-white fw-bold" for="flexSwitchCheckDefault">Billed Monthly</label>
      </div>
      <div class="col col-md-auto">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      </div>
      <div class="col col-lg-2">
        <label class="form-check-label text-white fw-bold" for="flexSwitchCheckDefault">Billed Annualy</label>
      </div>
    </div>
    </div>



    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <img src="../static/images/pexels-marco-milanesi-2670898.jpg" class="img-responsive w-100" alt="gradient">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <img class="img-fluid custom-image" src="../static/images/crop.png" alt="...">
          </div>
          
        </div>
        <img class="img-fluid img play border rounded-pill bg-white p-1"
        src="../static/images/play-button (1).png" alt="...">
        <p class="image"></p>  
<!-- <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <img src="../static/images/pexels-marco-milanesi-2670898.jpg"
              class="img3 col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-8  rounded-3" alt="gradient">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img class="img-fluid w-25 img2 "
              src="../static/images/crop.png" alt="...">
              <div class="card">
                <img class="img-fluid card-img play border rounded-pill bg-white p-1"
                src="../static/images/play-button (1).png" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title"></h5>
                </div>
              </div> 
            </div>
          </div> -->


 <!-- <div class="container">
        <div class="row row row-cols-2">
          <div class="col">
            <img src="../static/images/pexels-marco-milanesi-2670898.jpg"
              class="img3 col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-8  rounded-3" alt="gradient">
              <img class="img-fluid w-25 img2 col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6"
              src="../static/images/crop.png" alt="...">
          </div>
            <div class="col">
            <img class="img-fluid w-25 img2 col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6"
              src="../static/images/crop.png" alt="...">
          </div> -->






    <div class="img1 container-fluid mt-3 p-0">
        <div class="container row row-cols-2 mx-auto">
          <div class="">
            <div class="col mt-5 mx-auto pt-5">
              <h1 class="heading_content text-dark display-2 fw-bold">We <span class="color1">are awesome <br>team</span>
                for your
                <br>bussiness dream
              </h1>
              <h2 class="mt-5 mb-5 pb-3 text-muted">Integrated workflow designed for product teams</h2>
              <span class=""><button type="button"
                  class="btn shadow btn-secondary rounded-pill fs-5 text-white bg-dark p-3 border-1 fw-bold">Secondary
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                  </svg></button>
              </span>
              <span class=""><button type="button" class="btn rounded-pill fs-5 ms-3 text-dark p-3 border-0 fw-bold">Learn
                  more
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                  </svg></button>
              </span>
            </div>
  
  
          </div>
          <div class="col mt-5 text-start">dsasdada
          </div>
        </div>
  
      </div>
    <!--adding javascript-->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- adding popper -->
    <script src="../static/js/popper.min.js"></script>


</body>

</html>