<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Adding bootstrap -->
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/custom.css">

  <!-- Adding icons -->
  <link href="../static/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">
  <link href="../static/fontawesome-free-5.15.4-web/css/all.min.css" rel="stylesheet">

  <title>agon</title>

</head>

<body>

  <!-- Navbar starts -->
  <nav class="navbar navbar-expand-lg navbar-light">

    <div class="container">
      <a class="navbar-brand fw-bold fs-2 px-5 mx-5" href="#">agon</a>
      <button class="navbar-toggler mx-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-3">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle    text-dark" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Home
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle    text-dark" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              About
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle    text-dark" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Company
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle    text-dark" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Pages
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle    text-dark" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Blog
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle    text-dark" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Shop
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex  justify-content-end ms-5 ps-5">
          <button class="btn btn-outline-success me-0" type="submit">Secondary <svg xmlns="http://www.w3.org/2000/svg"
              width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg> </button>
        </form>

      </div>
    </div>
  </nav>
  <!-- Navbar ends -->




  <!-- Image section start -->
  <div class="img1 container-fluid mt-3 p-0">
    <div class="container row row-cols-2 mx-auto pb-5">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <div class="col mt-5 mx-auto pt-5">
          <h1 class="heading_content text-dark display-2 fw-bold">We <span class="color1">are awesome <br>team</span>
            for your
            <br>bussiness dream
          </h1>
          <h2 class="mt-5 mb-5 pb-3 text-muted">Integrated workflow designed for product teams</h2>
          <span class=""><button type="button"
              class="btn shadow btn-secondary rounded-pill fs-5 text-white bg-dark p-3 border-1 fw-bold">Secondary
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
              </svg></button>
          </span>
          <span class=""><button type="button" class="btn rounded-pill fs-5 ms-3 text-dark p-3 border-0 fw-bold">Learn
              more
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
              </svg></button>
          </span>
        </div>
      </div>



      <div class="col-xs-12 col-sm-12 col-lg-5 d-lg-block">
        <div class="image-banner-right">
          <div class="small-image rounded-3 shadow"></div>
          <!-- <img class=" play border rounded-pill bg-white shadow" src="../static/images/play-button (1).png" alt="..."> -->
          <img class=" img2" src="../static/images/crop.png" alt="...">
        </div>
      </div>
    </div>
  </div>

  <!-- Image section end -->


  <!-- Brand images-start -->
  <div class="container my-5 py-5">
    <div class="row row-cols-2 row-cols-lg-3">
      <div class="col-4 col-lg-2">
        <div class="card border-0 Company-1 ">
          <img src="../static/images/inkpx-word-art.png" class="img-fluid" alt="...">

        </div>
      </div>
      <div class="col-4 col-lg-2 Company-1">
        <div class="card border-0">
          <img src="../static/images/inkpx-word-art.png" class="img-fluid" alt="...">
        </div>
      </div>
      <div class="col-4 col-lg-2 Company-1">
        <div class="card border-0">
          <img src="../static/images/inkpx-word-art.png" class="img-fluid" alt="...">
        </div>
      </div>
      <div class="col-4 col-lg-2 Company-1">
        <div class="card border-0">
          <img src="../static/images/inkpx-word-art.png" class="img-fluid" alt="...">
        </div>
      </div>
      <div class="col-4 col-lg-2 Company-1">
        <div class="card border-0">
          <img src="../static/images/inkpx-word-art.png" class="img-fluid" alt="...">
        </div>
      </div>
      <div class="col-4 col-lg-2 Company-1">
        <div class="card border-0">
          <img src="../static/images/inkpx-word-art.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
  </div>
  <!-- Brand images-end -->

  <!-- first we section started-->
  <div class="container my-5 py-5 ">
    <div class="row row-cols-2">
      <div class="col-12 text-center fs-1 fw-bold mb-2">We dash dash</div>
      <div class="col-12 text-center fs-5 text-muted">nope this is not fair aasdad adadad aadadsdasd adsda adasd ads ad
        sdad adadadadad aksl ds d dad sd sd sd add </div>
    </div>
  </div>
  <!-- we section end -->



  <!-- button section start -->
  <div class="container my-5 py-5 text-center">
    <div class="row row-cols-2 row-cols-lg-3">
      <div class="col-4 col-lg-2">
        <button type="button" class=" border border-info p-3 rounded-pill shadow bg-transparent">Branding</button>
      </div>
      <div class="col-4 col-lg-2 ">
        <button type="button" class=" border p-3 rounded-pill shadow bg-light">Development</button>
      </div>
      <div class="col-4 col-lg-2 ">
        <button type="button" class="  border p-3 rounded-pill shadow bg-light">Animation</button>
      </div>
      <div class="col-4 col-lg-2 ">
        <button type="button" class="  border p-3 rounded-pill shadow bg-light">Social Networking</button>
      </div>
      <div class="col-4 col-lg-2 ">
        <button type="button" class=" border p-3 rounded-pill shadow bg-light">User Experience</button>
      </div>
      <div class="col-4 col-lg-2 ">
        <button type="button" class="border p-3 rounded-pill shadow bg-light">Marketing</button>
      </div>
    </div>
  </div>
  <!-- end -->


  <!-- Optimize section start-->
  <div class="container my-5 py-5">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-5 ms-5 orange">
        <h2 class="ms-4 mt-5 fw-bold">Optimize & sacle, easy to start</h2>
        <p class="ms-4 mt-5 justify-content-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus at
          <br>ad fugit neque beatae incidunt, ipsum recusandae quo esse totam <br>optio architecto aliquid dolore! Eum
          error ullam magni impedit <br>voluptates?
        </p>

        <div class="col ms-5 ps-5 ">
          <button type="button" class="btn rounded-pill text-dark bg-white p-3 my-3  fw-bold">Secondary
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>
          </button>
        </div>

        <div class="col ms-5 ps-5">
          <button type="button" class="btn  rounded-pill text-dark bg-white p-3  fw-bold">Learn
            more
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>
          </button>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-6 px-0">
        <img src="../static/images/pexels-fauxels-3184395.jpg" class="img-fluid image4 w-100" alt="...">
      </div>
    </div>
  </div>
  <!--  end-->


  <!--Second we section started-->
  <div class="container mt-5 mb-5 py-5">
    <div class="row row-cols-2">
      <div class="col-12 text-center fs-1 fw-bold mb-2">We dash dash</div>
      <div class="col-12 text-center fs-5 text-muted">nope this is not fair aasdad adadad aadadsdasd adsda adasd ads ad
        sdad adadadadad aksl ds d dad sd sd sd add </div>
    </div>
  </div>
  <!-- we section end -->

  <!--three cards start  -->
  <div class="container my-5 py-5">
    <div class="row">
      <div class="col-4 col-xs-12 col-sm-12 col-lg-4 mb-2">
        <div class="card blue shadow w-75 p-4 rounded-3">
          <img src="../static/images/icons8-elective-100.png" class="card-img-top shadow w-25 mt-4 ms-3 mb-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <button type="button" class="btn  rounded-pill text-dark bg-white p-3 mt-2 fw-bold">Learn
              more
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="col-4 col-xs-12 col-sm-12 col-lg-4 mb-2">
        <div class="card green shadow w-75 p-4 rounded-3">
          <img src="../static/images/icons8-elective-100.png" class="card-img-top shadow w-25 mt-4 ms-3 mb-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <button type="button" class="btn  rounded-pill text-dark bg-white p-3 mt-2 fw-bold">Learn
              more
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="col-4 col-xs-12 col-sm-12 col-lg-4 ">
        <div class="card orange shadow w-75 p-4 rounded-3">
          <img src="../static/images/icons8-elective-100.png" class="card-img-top shadow w-25 mt-4 ms-3 mb-3" alt="...">
          <div class="card-body ">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <button type="button" class="btn  rounded-pill text-dark bg-white p-3 mt-2 fw-bold">Learn
              more
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--three cards end  -->


  <!--  start-->
  <div class="container my-5 py-5">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-6 mb-4">
        <img src="../static/images/pexels-engin-akyurt-2347380.jpg" class="card-img-top shadow w-100 rounded-3 h-100"
          alt="...">
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-6">
        <p class="fw-bold text-warning border rounded-pill ms-5 what w-25 text-center bg-dark p-2 shadow">What We
          Do,What You Get</p>
        <p class="fs-1 fw-bold ms-5 justify-content-center py-3"> We believe that our <br>work can contribute<br> to a
          better world.</p>
        <p class="text-muted ms-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> Commodi recusandae eos
          iusto error.</p>
        <p class="ms-5">________________________________________________________</p>
        <div class="container ms-4">
          <div class="row row-cols-2">
            <div class="col">
              <h6 class="mb-2 fw-bold">Boost your sale</h6>
              <p class="text-muted text3">Lorem ipsum dolor sit amet </p>
            </div>
            <div class="col">
              <h6 class="mb-2 fw-bold">Boost your sale</h6>
              <p class="text-muted text3">Lorem ipsum dolor sit amet </p>
            </div>
            <div class="col">
              <h6 class="mb-2 fw-bold">Boost your sale</h6>
              <p class="text-muted text3">Lorem ipsum dolor sit amet </p>
            </div>
            <div class="col">
              <h6 class="mb-2 fw-bold">Boost your sale</h6>
              <p class="text-muted text3">Lorem ipsum dolor sit amet </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end -->


  <!--What section start -->
  <div class="container orange shadow offer my-5 py-5">
    <div class="py-5 text-center col-xs-12 col-sm-12 col-lg-6">
      <h1 class="fw-bold mb-3">What we offer</h1>
      <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum eveniet<br> iste quis
        a, sequi accusamus maximedignissimos labore repudiandae ex quibusdam ab<br> voluptatem commodi odit, rem
        perspiciatis dolorum ad!</p>
    </div>
    <div class="row">
      <div class=" col text-start ms-5 ps-5">
        <div class="card rounded-3 p-2 shadow">
          <img src="../static/images/cap.png" class="card-img-top hat ms-4 mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title fw-bold">Card title</h5>
            <p class="card-text text-muted">Some quick example text to<br> build on the card </p>
          </div>
        </div>
      </div>
      <div class=" col text-start me-2 pe-2">
        <div class="card rounded-3 p-2 shadow">
          <img src="../static/images/cap.png" class="card-img-top hat ms-4 mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title fw-bold">Card title</h5>
            <p class="card-text text-muted">Some quick example text to<br> build on the card </p>
          </div>
        </div>
      </div>
      <div class=" col text-start me-5 pe-5">
        <div class="card rounded-3 p-2 shadow">
          <img src="../static/images/cap.png" class="card-img-top hat ms-4 mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title fw-bold">Card title</h5>
            <p class="card-text text-muted">Some quick example text to<br> build on the card </p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-5">
      <img src="../static/images/more.png" class="dot" alt="...">
    </div>
  </div>
  <!-- end -->

  <!--Customers section start -->
  <div class="container my-5 py-5">
    <div class="px-4">
      <p class="h1 fw-bold">
        Our Happy customers
      </p>
      <p class="text-muted fs-5">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      </p>
      <div class="text-end">
        <img src="../static/images/smaller.png" class="sign p-2 border rounded-pill bg-light shadow" alt="...">
        <img src="../static/images/greater.png" class="sign p-2 border rounded-pill bg-light shadow" alt="...">
      </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        <div class="card p-3 border border-5 border-danger">
          <img src="../static/images/profile.png" class="w-25 p-2 border rounded-pill bg-light shadow" alt="...">
          <div class="card-body">
            <h5 class="card-title fw-bold">Card title</h5>
            <h6 class=" mb-2 text-muted h6">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card p-3 border border-5 border-info">
          <img src="../static/images/profile.png" class="w-25 p-2 border rounded-pill bg-light shadow" alt="...">
          <div class="card-body">
            <h5 class="card-title fw-bold">Card title</h5>
            <h6 class=" mb-2 text-muted h6">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card p-3 border border-5 border-primary">
          <img src="../static/images/profile.png" class="w-25 p-2 border rounded-pill bg-light shadow" alt="...">
          <div class="card-body">
            <h5 class="card-title fw-bold">Card title</h5>
            <h6 class=" mb-2 text-muted h6">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card p-3 border border-5 border-success">
          <img src="../static/images/profile.png" class="w-25 p-2 border rounded-pill bg-light shadow" alt="...">
          <div class="card-body">
            <h5 class="card-title fw-bold">Card title</h5>
            <h6 class=" mb-2 text-muted h6">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end  -->


  <!--News start  -->
  <div class="container my-5 py-5">
    <div class="row">
      <div class="col">
        <p class="h1">
          Latest News
        </p>
        <p class="text-muted fs-5">
          For Our Blog & Event Page
        </p>
      </div>
      <div class="col text-end mt-2">
        <button type="button" class="btn rounded-pill mt-2 text-white shadow bg-dark p-4 fw-bold">View
          more
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
          </svg>
        </button>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div class="card border-0">
          <div class="card-body">
            <h6 class=" mb-2 text3 text-muted">Card subtitle</h6>
            <h5 class="card-title fw-bold h4">Lorem ipsum dolor sit amet consectetur adipisicing</h5>
            <div class="border-end border-bottom border-5 border-info rounded-3">
              <img src="../static/images/offi.jpg" class="card-img-bottom rounded-3" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0">
          <div class="card-body">
            <h6 class=" mb-2 text3 text-muted">Card subtitle</h6>
            <h5 class="card-title fw-bold h4">Lorem ipsum dolor sit amet consectetur adipisicing</h5>
            <div class="border-end border-bottom border-5 border-info rounded-3">
              <img src="../static/images/offi.jpg" class="card-img-bottom rounded-3" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0">
          <div class="card-body">
            <h6 class=" mb-2 text3 text-muted">Card subtitle</h6>
            <h5 class="card-title fw-bold h4">Lorem ipsum dolor sit amet consectetur adipisicing</h5>
            <div class=" border-end border-bottom border-5 border-info rounded-3">
              <img src="../static/images/offi.jpg" class="card-img-bottom rounded-3" alt="...">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end -->


  <!--Plan section start -->
  <div class="container-fluid bl-img p-0 my-5 py-5">
    <div class="container">
      <div class="text-center pt-5">
        <p class="fs-1 fw-bold text-white">
          Choose a plan that's <br>best for you
        </p>
      </div>
      <div class="row my-5 ">
        <div class="col text-end me-3 ms-2">
          <label class="form-check-label text-white fw-bold text3" for="flexSwitchCheckDefault">Billed Monthly</label>
        </div>
        <div class="col form-check form-switch me-5 pe-5 ">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
          <div class="col p-0 text-start ps-4">
            <label class="form-check-label text-white fw-bold text3" for="flexSwitchCheckDefault">Billed Annualy</label>
          </div>
        </div>
      </div>

      <div class="row ">
        <div class="col mb-2 text-start ms-5 ps-5">
          <div class="card offer shadow p-2">
            <div class="card-body">
              <h3 class="card-title fw-bold">Card title</h3>
              <h4 class="card-title ">Card title</h4>
              <p class="card-text text-muted text3">Some quick example text to build on the card title</p>
              <p class="text-muted mt-2">_____________________________</p>
              <div class="container">
                <p>
                  <img src="../static/images/check.png" class="card-img-bottom check1 me-2" alt="...">
                  Unlimited updates
                </p>
                <p>
                  <img src="../static/images/check.png" class="card-img-bottom check1 me-2" alt="...">
                  Unlimited updates
                </p>
                <p>
                  <img src="../static/images/check.png" class="card-img-bottom check1 me-2" alt="...">
                  Unlimited updates
                </p>
                <p>
                  <img src="../static/images/check.png" class="card-img-bottom check1 me-2" alt="...">
                  Unlimited updates
                </p>
                <p>
                  <img src="../static/images/close.png" class="card-img-bottom check1 me-2" alt="...">
                  Unlimited updates
                </p>
                <div class="">

                  <button type="button" class="btn border-1 border-dark rounded text-dark p- mt-2 fw-bold">Getting
                    started
                    <span class="ms-5 ">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                      </svg>
                    </span>
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col mb-2 text-start me-2 pe-2">
          <div class="card offer shadow p-2">
            <div class="card-body">
              <h3 class="card-title fw-bold">Card title</h3>
              <h4 class="card-title ">Card title</h4>
              <p class="card-text text-muted text3">Some quick example text to build on the card title</p>
              <p class="text-muted mt-2">_____________________________</p>
              <div class="container">
                <p>
                  <img src="../static/images/check.png" class="card-img-bottom check1 me-2" alt="...">
                  Unlimited updates
                </p>
                <p>
                  <img src="../static/images/check.png" class="card-img-bottom check1 me-2" alt="...">
                  Unlimited updates
                </p>
                <p>
                  <img src="../static/images/check.png" class="card-img-bottom check1 me-2" alt="...">
                  Unlimited updates
                </p>
                <p>
                  <img src="../static/images/check.png" class="card-img-bottom check1 me-2" alt="...">
                  Unlimited updates
                </p>
                <p>
                  <img src="../static/images/close.png" class="card-img-bottom check1 me-2" alt="...">
                  Unlimited updates
                </p>
                <div class="">

                  <button type="button" class="btn border-1 border-dark rounded text-dark p- mt-2 fw-bold">Getting
                    started
                    <span class="ms-5 ">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                      </svg>
                    </span>
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col mb-2 text-start me-5 pe-5">
          <div class="card offer shadow p-2">
            <div class="card-body">
              <h3 class="card-title fw-bold">Card title</h3>
              <h4 class="card-title ">Card title</h4>
              <p class="card-text text-muted text3">Some quick example text to build on the card title</p>
              <p class="text-muted mt-2">_____________________________</p>
              <div class="container">
                <p>
                  <img src="../static/images/check.png" class="card-img-bottom check1 me-2" alt="...">
                  Unlimited updates
                </p>
                <p>
                  <img src="../static/images/check.png" class="card-img-bottom check1 me-2" alt="...">
                  Unlimited updates
                </p>
                <p>
                  <img src="../static/images/check.png" class="card-img-bottom check1 me-2" alt="...">
                  Unlimited updates
                </p>
                <p>
                  <img src="../static/images/check.png" class="card-img-bottom check1 me-2" alt="...">
                  Unlimited updates
                </p>
                <p>
                  <img src="../static/images/close.png" class="card-img-bottom check1 me-2" alt="...">
                  Unlimited updates
                </p>
                <div class="">

                  <button type="button" class="btn border-1 border-dark rounded text-dark p- mt-2 fw-bold">Getting
                    started
                    <span class="ms-5 ">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                      </svg>
                    </span>
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  end -->


  <!-- start  -->
  <div class="container orange rounded">
    <div class="row">
      <div class="col ms-5 ps-5 my-5 justify-content-center">
        <p class="text-muted fs-6">NEWSLETTER</p>
        <p class="h1 fw-bold">Subscribe Our <br>Newsletter</p>
        <p class="mt-4 text-muted">By clicking above, you are agreeing with our <br><a href="#">Terms & conditions</a>
        </p>
        <div class="form-outline">
          <input type="text" id="form1" class=" form-control form-icon-trailing w-50 p-3 rounded-pill" placeholder="Enter your mail ...">
        </div>
      </div>
      <div class="col">
        <div class="image-banner-right">
          <img class="lastimag rounded-3 py-5" src="../static/images/pexels-fox-1595385.jpg" alt="...">
        </div>
      </div>
    </div>
  </div>
  <!--end  -->



  <!--Creater account section start -->
  <div class="container my-5 py-5">
    <div class="row">
      <div class="col text-start">
        <p class="h2 fw-bold mt-4">
          <img class="mb-2 ps-2" src="../static/images/lotus.png" alt="...">
          agon
        </p>
      </div>
      <div class="col text-end mt-5">
        <p class="fw-bold text-end">Ready to get started?
          <button type="button" class="btn btn-dark fw-bold ms-5 p-3 text3">Create An Account</button>
        </p>
      </div>
    </div>
    <p class="text-center text-muted border-top my-3 ">
    </p>
    <div class="row">
      <div class="col justify-content-center ms-5 ps-5">
        <p class="fw-bold">Useful links</p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a> </p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a></p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a></p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a></p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a></p>
      </div>
      <div class="col justify-content-center">
        <p class="fw-bold">Useful links</p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a> </p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a></p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a></p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a></p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a></p>
      </div>
      <div class="col justify-content-center">
        <p class="fw-bold">Useful links</p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a> </p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a></p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a></p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a></p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a></p>
      </div>
      <div class="col justify-content-center">
        <p class="fw-bold">Useful links</p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a> </p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a></p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a></p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a></p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a></p>
      </div>
      <div class="col justify-content-center">
        <p class="fw-bold">Useful links</p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a> </p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a></p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a></p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a></p>
        <p><a href="#" class="text-decoration-none text-muted text3">This link</a></p>
      </div>
    </div>
  </div>
  <!-- end -->


  <!--footer start -->
  <div class="container border-top my-5 py-3">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <p class="copy text-muted text-start">
              <img class="copyright mb-1" src="../static/images/copyright.png" alt="...">
              Agon Official 2022
            </p>
          </div>
          <div class="col">
            <p>
              <a class="copy text-decoration-none text-muted" href="#">Privacy policy
              </a>
            </p>
          </div>
          <div class="col">
            <p>
              <a class="copy text-decoration-none text-muted" href="#">Privacy policy
              </a>
            </p>
          </div>
          <div class="col">
            <p>
              <a class="copy text-decoration-none text-muted" href="#">Privacy policy
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col"></div>
      <div class="col text-end">
        <img class="company-icon " src="../static/images/facebook.png" alt="...">
        <img class="company-icon " src="../static/images/twitter.png" alt="...">
        <img class="company-icon " src="../static/images/instagram.png" alt="...">
        <img class="company-icon " src="../static/images/youtube.png" alt="...">

      </div>

    </div>

  </div>
  <!-- end -->



  <!--adding javascript-->
  <script src="../static/js/bootstrap.min.js"></script>

  <!-- adding popper -->
  <script src="../static/js/popper.min.js"></script>


</body>

</html>