{% load static %}
<!-- products start  -->
<div class="container bg-white shadow my-4 p-4">
    <div class="text-center p-5 fs-1 fw-bold">
        Prodcuts
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
        <div class="col">
          <div class="card shadow border-0 ">
            <img src="../static/images/jenn-lopez-DhiZ2ZUQSS4-unsplash (1).jpg" class="card-img" alt="...">
            <div class="card-body text-center bg-white">
              <h5 class="card-title h2 fw-bold">Nixon</h5>
              <p class="card-text">Eye-catching time machine for everyone</p>
              <button type="button" class="btn btn-primary shadow">Shop Nixon</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow border-0 ">
            <img src="../static/images/pexels-alex-azabache-3766111 (1).jpg" class="card-img-top" alt="...">
            <div class="card-body text-center bg-white">
                <h5 class="card-title h2 fw-bold">Saphire</h5>
                <p class="card-text">Affordable mechanical marvels for your wrist</p>
                <button type="button" class="btn btn-primary shadow">Shop Saphire</button>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow border-0 ">
            <img src="../static/images/pexels-ali-madad-sakhirani-1268511 (1).jpg" class="card-img-top" alt="...">
            <div class="card-body text-center bg-white">
                <h5 class="card-title h2 fw-bold">Rado</h5>
                <p class="card-text">Different varities to choose from</p>
                <button type="button" class="btn btn-primary shadow">Shop Rado</button>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow border-0 ">
            <img src="../static/images/pexels-pixabay-47856(1).jpg" class="card-img-top" alt="...">
            <div class="card-body text-center bg-white">
                <h5 class="card-title h2 fw-bold">Rolex</h5>
                <p class="card-text">Shop from Royal Collections</p>
                <button type="button" class="btn btn-primary shadow">Shop Rado</button>
              </div>
          </div>
        </div>
    </div>
</div>
<!-- products end -->