.navbar-nav.navbar-center {
  
  
    transform: translatex(-50%);
    font-size: 36px;
}

/* body {
    background-image: url("../../wll.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
  } */
.img1 {  
    
    background: url("../wll.png"); 
    background-repeat: no-repeat;
    height: 900px;
    background-size:cover ;
} 

#card{
    width: 18rem !important;
}