

.temp1 {
    width: "25%";
}

#Form1 {
    margin-top: "";
}

.act1 {
    text-decoration: none;
    
}
div.dataTables_wrapper {
    margin-bottom: 3em;
}

.ref {
    margin-right: 14%;
}
#floatingTextarea2 {
    height: 100px;

}

.table3 {
    background-color: gray;
}

#buttonLast {
    background-color: lightgray;
}