{% load static %}

<footer class="col-12 last mt-4 mb-4">
    <div class="w-100" id="footer">
        <div class="container">
            <div class="row">
    
                <div class="col">
                    <div class="mr-5">{% now 'Y' %} Copyright. All Rights Reserved. Section 36 Enterprises Inc.</div>
                </div>
    
                <div class="col">
                    <div class="text-end term ml-5 pl-5">TERMS OF SERVICE | PRIVACY POLICY</div>
                </div>
    
            </div>
        </div>
    </div>
</footer>



