{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">

  <title>stratadocs</title>
</head>

<body>
  <!--NAVBAR STARTING-->
  <nav class="navbar navbar-expand-lg sticky-top bg-light">
  <div class="container">  <a class="navbar-brand mr-5 pr-5 fs-1" href="#"><h1>stratadocuments.</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list "></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav fs-6 font-weight-bold ml-5 mr-auto mr-5 pr-5">
        <li class="nav-item mr-3">
          <a class="nav-link " href="#">HOME</a>
        </li>
        <li class="nav-item dropdown mr-2">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            WHY US
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown mr-2">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            HOW IT WORKS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link " href="#">CONTACT US</a>
        </li>
        <button type="button" class="btn btn-primary">MY ACCOUNT</button>
      </ul>

    </div>
  </div>
</nav>


{% include 'image.html' %}
{% include 'mid.html' %}
<!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
  <script src="{%static 'jquery/jquery-3.3.1.slim.min.js'%}"></script>
  <script src="{%static  'js/popper.min.js'%}"></script>
  <script src="{%static  'js/bootstrap.min.js'%}"></script>
  <!-- <script src="{%static  'js/bootstrap.min.js'%}"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script> -->

</body>

</html>