{% load static %}


<!-- {WHY} section started-->
<div class="container bg-white py-5">
    <div class="row">
        <div class="col-12 part1 col-lg-6  col-xl-6 col-xxl-6">
            <p id="head-1">
                <span class="text-primary temp1 text-center">why</span>
            </p>


        </div>
        <div class="col-12 part2 col-lg-6  col-xl-6 col-xxl-6">
            <div class="row row-col-2 ">
                <div class="col-12 col-lg-6  col-xl-6 col-xxl-6">
                    <div class="card bg-primary text-white shadow p-2 mb-2 rounded">
                        <img class=" watch w-25 mt-2 mx-auto" src="{% static 'images/icons8-wristwatch-96.png'%}"
                            alt="Card image watch">
                        <div class="card-body">
                            <h5 class="card-title">INSTANT CREDIBILITY:</h5>
                            <p class="card-text">Imagine shopping for a buyer and already know that 123 Smith St has EV
                                parking or that 456 Smith St has an updated depreciation report.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6  col-xl-6 col-xxl-6">
                    <div class="card shadow p-2 mb-2 rounded">
                        <img class="card-img-top w-25 mt-2 mx-auto" src="{% static 'images/money.png'%}"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">INSTANT CREDIBILITY:</h5>
                            <p class="card-text">Imagine shopping for a buyer and already know that 123 Smith St has EV
                                parking or that 456 Smith St has an updated depreciation report.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-col-2 mt-4">
                <div class="col-12 col-lg-6  col-xl-6 col-xxl-6">
                    <div class="card shadow p-2 mb-2 rounded">
                        <img class="card-img-top w-25 mt-2 mx-auto
                        " src="{% static 'images/sale.png' %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">INSTANT CREDIBILITY:</h5>
                            <p class="card-text">Imagine shopping for a buyer and already know that 123 Smith St has EV
                                parking or that 456 Smith St has an updated depreciation report.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6  col-xl-6 col-xxl-6">
                    <div class="card bg-primary text-white shadow p-2 mb-2">
                        <img class="card-img-top w-25 mt-2 mx-auto" src="{% static 'images/hand.png'%}"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">INSTANT CREDIBILITY:</h5>
                            <p class="card-text">Imagine shopping for a buyer and already know that 123 Smith St has EV
                                parking or that 456 Smith St has an updated depreciation report.</p>
                        </div>
                    </div>
                </div>
            </div>




        </div>

    </div>
</div>
<!-- {WHY} section finished-->



<!-- {HOW} section started-->

<div class="container-fluid bg-primary">
    <div class="container py-5">

        <div class="row">
            <div class="col-12 col-lg-6  col-xl-6 col-xxl-6">
                <div class="container">
                    <div class="text-light text-center">
                        <p class="font-weight-bold h2 mb-0">HOW IT WORKS</p>
                        <p><i class="icon-how"> <i class="bi bi-dash-lg"></i></i></p>
                        <p class="text-center">Think of us like a community library book stand (leave a book, take a book) - just online
                            and servicing a larger community. So, along with having access to your own strata
                            document packages, you'll now have access to 1000's more. Awesome right?! The process is
                            super simple.</p>
                    </div>
                    <div class="row row-col-2">
                        <div class="col-12  col-lg-6  col-xl-6 col-xxl-6 ">
                            <div class="row text-light">
                                <div class="col-3 pl-2">
                                    <span class=" font-weight-bold custom-number">
                                    1</span>
                                </div>
                                <div class="col-9 mt-5 pl-2">
                                    <p class="font-weight-bold h3 ">
                                        SIGN UP
                                    </p>
                                    <p class="p-2 ">
                                        Register. Note that this service is exclusive to active REALTORS only.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12  col-lg-6  col-xl-6 col-xxl-6">
                            <div class="row text-light">
                                <div class="col-3 pl-2">
                                    <span class=" font-weight-bold custom-number">
                                    2</span>
                                </div>
                                <div class="col-9 mt-5 pl-4 ">
                                    <p class="font-weight-bold h3">
                                        UPLOAD
                                    </p>
                                    <p class="p-2 ">
                                        Register. Note that this service is exclusive to active REALTORS only.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-col-2 ">
                        <div class="col-12  col-lg-6  col-xl-6 col-xxl-6">
                            <div class="row text-light">
                                <div class="col-3 pl-2">
                                    <span class=" font-weight-bold custom-number">
                                    3</span>
                                </div>
                                <div class="col-9 mt-5 pl-4">
                                    <p class="font-weight-bold h3">
                                        DOWNLOAD
                                    </p>
                                    <p class="p-2 ">
                                        Register. Note that this service is exclusive to active REALTORS only.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12  col-lg-6  col-xl-6 col-xxl-6">
                            <div class="row text-light">
                                <div class="col-3 pl-2">
                                    <span class="font-weight-bold custom-number mr-1">
                                    4</span>
                                </div>
                                <div class="col-9 mt-5 pl-4 ">
                                    <p class="font-weight-bold h3">
                                        SMILE
    
                                    </p>
                                    <p class="p-2 ">
                                        Register. Note that this service is exclusive to active REALTORS only.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6  col-xl-6 col-xxl-6">
                <p id="head-2">
                    <span class="text-white temp2">How</span>
                </p>

            </div>
        </div>
    </div>
</div>


<!-- {HOW} section finished-->









<!-- {Video section} started-->


<div class="container text-center py-5">
    <video class="video w-50" controls="">
        <source src="../static/images/videoplayback.mp4" type="video/mp4">
    </video>
</div>
<!-- {Video section} finished-->









<!-- {contact us} section started  -->
<div class="container-fluid p-0 contact-uss">
    <div class="custom-back pt-3">
        <h2 class=" text-center text-light font-weight-bold">CONTACT US</h2>
        <p class="text-center text-light pt-4">Let us know what you think. Your comments and feedback are super
            appreciated.</p>
        <form class="mx-auto px-auto w-25">
            <div class="">
                <input type="text" class="form-control" id="exampleInputName" aria-describedby="name"
                    placeholder="Name*">
            </div>
            <div class="my">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="email*">
            </div>
            <div class="my">
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Phone*">
            </div>
            <div class="form-floating my">
                <textarea class="form-control" placeholder="Feedback*" id="floatingTextarea2"
                    aria-placeholder="Feedback*" rows="10" cols="10"></textarea>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary md-2" type="submit">Send message</button>
            </div>
        </form>
    </div>

</div>
<!-- {contact us} section finished  -->


{% include 'footer.html' %}
